<div class="container">
  {{ page.header }}

  <div class="sidebar">
    {{ page.sidebar }}
  </div>

  <div class="content">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </div>

</div>

<div class="footer">
  <div class="footer-inner">
    {{ page.footer }}
  </div>
</div>
